# Xcode
xcuserdata/
*.xcworkspace/
*.xccheckout

# Swift
.swiftpm/
.build/
DerivedData/
.DS_Store

# Secrets
Secrets.plist

# CocoaPods
Pods/
Podfile.lock
*.xcconfig

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

